<style>
body{background-color:#0CD6EE}
html, body{ margin: 0px; text-align: center; }
#header{
height:120px;
width: 100%;
background:#7A54B7;
position: fixed;
color:white;
font-size: 30px;
font-family: "Verdana";
padding-top:50px;
transition: height 0.3s linear 0s, padding 0.3s linear 0s;
overflow: hidden;
top:0px;
text-align:far-left;
}
#header > #menu{

position:absolute;
font-size:20px;
bottom: 0px;
width: 100%;
background: #28276C;
height: 40px;
transition: height 0.3s linear 0s, padding 0.3s linear 0s;
overflow:hidden
}

 #search{
position:relative;
font-size:20px;
bottom:0px;
width: 25%;
background-color:none;
height:20px;
top:-35px;
left: 1000px;
}
#s1 {
transition: height 0.3s linear 0s;
transition: height -0.3 lienar 0s;
top:3px; left:-600px; position:relative;font-color:white;border:3px solid #7A54B7;
height:25px;
}
#content{ margin-top: 230px;}

#content {
left: 50%;
height:1500px;
width: 900px;
border: 2px solid maroon;
background: grey;
top: 160;
margin:0 auto;
padding-top: 210px;
padding-bottom:210px;
font-size: 40px;
font-family: "Verdana";
}

p {padding-top: 210px;
font-family: "Verdana";
font-size: 05px;}

p {

font-size:3;
}

input[type=text] {
width: 130px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
box-sizing: border-box;
border-radius:3px;

}
input[type=text]:focus {
width: 20%;
}
.gsc-control-cse {
background: transparent !important;
border-color:transparent !important;
}

</style>
